<div class="container mt-5">
    <div class="mb-4 buttons">
        <button
            [className]="changeClass ? 'home' : 'test-pipes'"
            (click)="changeClassValue()"
            routerLink="/">Home
        </button>
        <button
            [className]="changeClass ? 'test-pipes' : 'home'"
            (click)="changeClassValue()"
            routerLink="test-pipes">Test - Pipes
        </button>
    </div>
    <router-outlet></router-outlet>
</div>
