.buttons {
    font-size: 1.2rem;
}

.home {
    margin-right: 2rem;
    box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:10px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
    
}

.test-pipes {
    margin-right: 2rem;
    box-shadow: 0px 0px 0px 2px #f09ea9;
	background:linear-gradient(to bottom, #c27885 5%, #9c4652 100%);
	background-color:#c27885;
	border-radius:10px;
	border:1px solid #944d53;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:10px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #662935;
}
